/*  */
body{
  background-color:#D2D2D2;
  font-family: gotham, helvetica, verdana, sans-serif;
}

h1 {
  /* only h1's are affected */
  font-size: 50px;
  color: #3A00FF;
  line-height:
}

h2 {
  /* only h2's are affected */
  font-family: georgia, times, serif;
  font-size: 30px;
  color: #3A00FF;
  font-style: italic;
  text-transform: capitalize;
}

h3 {
  /* only h3's are affected */
  font-family: georgia, times, serif;
  font-size: 20px;
  color: #3A00FF;
  font-style: italic;
  text-transform: capitalize;
}

p {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}

/* pseudo class MUST be in this order
  link ,visited, hover, active. Or else it won't work */
a:link {
  color:#3A00FF;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 5px;
}

a:visited {
  color:#3A00FF;
}

a:hover {
  color:chartreuse;
}

a:active {
  color:aqua;
  /* when you press down on the link */
}
