@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace, helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.5;

  background-color: #FFF;
  color: #000;
}

header.global {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

nav.global {

}

a {
  color: #0d00ff;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.5s;
}

a.about {
  position: fixed;
  top: 50%;
  left: 10px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-50%, 0);
}

a.readings {
  position:fixed;
  top: 50%;
  right: 10px;
  transform-origin: 100% 0; /*top right corner*/
  transform: rotate(90deg) translate(50%, 0);
}

a.exercise {
position: fixed;
bottom: 10px;
left: 50%;
transform: rotate(180deg) translate(50%, 0);
}

a:hover {
  border-bottom-color: #0d00ff;
}

/* img.indexImg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
} */
