@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace, helvetica, sans-serif;
}

section.logo {
  display: flex;
  align-items: center;  /* wrap */
  justify-content: center;

  background-color: #20242B;

  min-height: 100vh;

  perspective: 800px;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 700px;
  height: 700px;
  /* transform: rotateX(20deg) rotateY(20deg); */
}

section {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
}

section h2 {
  font-size: 80px;
  font-style: italic;
  padding-bottom: 2%;
  text-transform: uppercase;
  text-decoration: underline;
}

section p {
  font-size: 60px;
  line-height: 70px;
  font-weight: lighter;
  color: #74C990;

  text-align: left;
  text-transform: uppercase;

  padding-bottom: 5%;
}

/* for every odd section, its scroll direction is reversed */
section:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: #20242B;
}

section div {
  width: 50%;  /* covers half the screen */
}

section div.text {
  padding: 2%;
}

section div.fullImg {
  height: 100vh;

  background-image: url('../assets/images/1.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

section div.image2 {
  background-image: url('../assets/images/3.png');
}

section div.image3 {
  background-image: url('../assets/images/2.png');
}



/*
dark grey: #20242B
green: #74C990
*/
