@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFF;
}

header {
  /* border: 1px solid #000; */
  flex-grow: 1;
  padding-left: 0.5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;

  font-family: Open Sans, helvetica, sans-serif;
  font-size: 30px;
  color: #000;
}

nav {
  /* border: 1px solid #000; */
  padding-right: 0.5%;
  padding-top: 0.1%;
  position:fixed;
  top: 0;
  right: 0;
  width: 45%;

  text-align: right;
  font-family: Open Sans, helvetica, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #000;
}

nav a:link {
  flex-grow: 1;
  transition: all 0.3s;
  text-decoration: none;
  color: #000;
}

nav a:visited {
  color: #000;
}

nav a.active {
  color: blue;
}

/* underline effect */
nav a.right {
  position: relative; /* underlines individually */
}

a.right:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: blue;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.right:hover:before {
  visibility: visible;
  width: 100%;
}
/* underline effect */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*===== CSS GRID============================================== */

.container {
  display: grid;
  height: 95vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 0.2fr;
  grid-template-areas:
  "main main main"
  "img1 img2 img3"
  "img1 img2 img3"
  "footer footer footer";
  grid-gap: 0.2rem;
  margin-top: 2.65%;       /* right below header and nav bar */
  background: #FFF;
  padding: 0% 0.5% 0% 0.5%;
  font-family: Open Sans, helvetica, sans-serif;
}

main {
  border: 1px solid #000;
  grid-area: main;
}

#img1 {
  border: 1px solid #000;
  grid-area: img1;
}

#img2 {
  border: 1px solid #000;
  grid-area: img2;
}

#img3 {
  border: 1px solid #000;
  grid-area: img3;
}

footer {
  border: 1px solid #000;
  grid-area: footer;
  text-align: left;
  padding-top: 2%;
  font-size: 10px;
}

/*===== CSS GRID / readings ============================================== */
.r-container {
  display: grid;
  height: 95.2vh;
  grid-template-columns: 2fr 5fr; /* 30% 70% */
  grid-template-rows: 0.5fr 5fr 0.2fr; /* 3% 93% 3% */
  grid-template-areas:
  "gH gH"
  "readings readings"
  "footer footer";
  grid-gap: 0.2rem;
  margin-top: 10.65%;       /* right below header and nav bar */
  background: #FFF;
  padding: 0% 0.5% 0% 0.5%;
  font-family: Open Sans, helvetica, sans-serif;
}

.globalHeader {
  grid-area: gH;
  padding: 3% 0% 0% 5%;    /*TRBL*/

  font-family: Open Sans, helvetica, sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

section.readings {
  grid-area: readings;
  padding-top: 2%;
  padding-left: 2%;
}

div.weekBlock {
  padding-bottom: 2%;
}

a.r-heading {
 text-transform: uppercase;
 /* text-decoration: underline; */
 font-size: 18px;
 color: #000;
}

.r-credit {
 padding-left: 3%;
}

.r-heading a:link {
  color: #000;
  transition: all 0.3s;
}

.r-heading a:visited {
  color: #000;
}

.r-heading a:hover {
  color: blue;
}

.r-heading a:active {
  color: #5e5e5e;
}

a.r-link {
padding-left: 3%;
color: #5e5e5e;
}

.r-link a:link {
 color: #5e5e5e;
}

.r-link a:visited {
 color: #5e5e5e;
}

.r-link a:hover {
  color: blue;
}

.r-link a.active {
  color: blue;
}

footer {
  grid-area: footer;
}

/*===== CSS GRID / week#.html ============================================== */
.w-container {
  display: grid;
  height: 95.2vh;
  grid-template-columns: 0.2fr 0.2fr 0.2fr; /* 30% 70% */
  grid-template-rows: 1fr 3fr 0.1fr; /* 3% 93% 3% */
  grid-template-areas:
  "col1 col2 col3"
  "col1 col2 col3"
  "footer footer footer";
  grid-gap: 1rem;
  margin-top: 2.65%;       /* right below header and nav bar */
  background: #FFF;
  padding: 0% 0.5% 0% 1%;
  font-family: Open Sans, helvetica, sans-serif;
}

article {
  text-align: justify;
  line-height:24px;
  font-size:14px;

}

.col1 {
  grid-area: col1;
  /* background: pink; */
  margin-top: 10%;
  /* text-indent: 10%; */
}

p.w-title {
/* background: pink; */
padding-bottom: 5%;
font-size: 18px;
text-indent: 0%;
}

.col2 {
  grid-area: col2;
  /* background: orange; */
  margin-top: 10%;
  padding-top: 12.5%;
}

.col3 {
  grid-area: col3;
  /* background: yellow; */
  margin-top: 10%;
}

.col3 a {
  align-self: baseline;
}

footer {
  grid-area: footer;
  padding-top: 1%;
  /* background:red; */
}





/* phone view and larger */
@media only screen and (max-width: 600px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "nav"
    "sidebar"
    "main"
    "img1"
    "img2"
    "img3"
    "footer";
  }
}
