* {
  margin: 0.5% 2% 0.2% 2%;
  padding: 0;
  box-sizing: border-box;
}

/* #wrap {
	width: 1000px;
	margin: 0 auto;
} */

body {
  background-color: #FFFFFF;
  font-family: Karla, helvetica, verdana, sans-serif;
}

header{
  background-color: #FFFFFF;
  color: blue;
  padding: 1%;
  border: 1px blue solid;

}

/* specificity targets elements inside of parents  */
header h1 {
  font-size: 45px;
  text-transform: uppercase;
}

header h2 {
  font-size: 22.5px;
  color: blue;
  /* font-style: italic; */
}

nav {
  background-color: #FFFFFF;
  border: 1px blue solid;
  padding: 0.2% 1% 0.2% 1%;
}

nav a:link {
  background-color: #FFFFFF;
  color: blue;
  padding: 0.5% 0.5% 0.5% 0.5%;
  display: inline-block;
  border: 1px blue solid;
  text-decoration: underline;
  /* text-align: center; */
}

nav a:visited {
  color: grey;
  border: 1px blue solid;
}

nav a:hover {
  color: #FFFFFF;
  background-color: blue;
  /* padding: 0.5%; */
}

/* a-tag */
nav a.active {
  color: #FFFFFF;
  background-color: blue;
}

article {
  padding: 1%;
}

article h1{
  font-size: 28px;
  text-transform: capitalize;
}

article h2{
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 3%;
  margin-bottom: .5%;
}

article p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: .5%;
  margin-top: 1.2%
}

/* classes start with a "." and can be used many times on the page */
.pull_quote {
  /* background-color: rgba(0,0,255,0.5); */
  color: #0000FF;
  font-size: 16px;
  /* padding: 2%; */
  margin: .5% 1% .5% 6%; /*TRBL*/
  font-style: italic;
  border-left: solid 2px rgba(0,0,255,0.5);
  padding-left: 0.5%;
  /* border-radius: 90%; */
}

figure {
  margin-bottom: 1%;
  width: 20%;
  float: left;
  margin-right: 1.2%;
  border: 1px blue solid;
}
figure img {
  /* use percentage when you want a responsive img */
  width: 95%;
}
figcaption {
  font-size: 13px;
  font-family: Karla,helvetica,Arial, serif;
  font-style: none;
  text-align: center;
}


footer {
  height: 90%;
  padding: .3%;
  border: 1px blue solid;
  border-width: thin;
  background-color: #FFFFFF;
  color: blue;
  font-size: 16px;
  font-family:  Karla,helvetica,Arial, serif;
  font-color
  font-style: italic;
  text-align: center;
  width: 94.5%
}



} */   /*<-----keep that*/
